body{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}
h1{
    font-family: "Delicious Handrawn";
    color: white;
}
p{
    text-align: center;
}
#paypal-button-container{
    width: 50%;
    margin: auto;
}

@media screen and (max-width: 600px){
    #paypal-button-container{
        width: 90%;
    }
}